/* resets */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* utils */
.container {
  margin: 0 auto;
  width: 900px;
  max-width: 100%;
}

li {
  list-style-type: none;
}

/* header */

.header {
  background-color: #acd6e4;
  height: 455px;
}

.nav-items-container {
  display: flex;
  align-items: center;
  height: 50px;
}

.nav-items {
  display: flex;
  justify-content: space-between;
  background-color: #d7a522;
}

.logo-container,
.login-container {
  width: 150px;
  display: flex;
  padding: 5px;
  border: 1px dashed black;
}

.logo-container {
  justify-content: flex-start;
}

.login-container {
  justify-content: flex-end;
}

.links-container {
  width: 600px;
  padding: 5px;
  border: 1px dashed black;
}

.nav-links-container {
  display: flex;
  gap: 10px;
  justify-content: center;
}

header > .header-section {
  height: 400px;
  background-color: #010088;
}

header > .header-section > .header-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.header-section-content {
  height: 300px;
  width: 700px;
  background-color: #ec81eb;
  border: 1px dashed black;
}

/* main */

/* footer */

/* debug */

.debug {
  background-color: rgb(27, 27, 27);
  border: 1px dashed white;
}

.debug > .debug {
  background-color: rgb(68, 68, 68);
  border: 1px dashed white;
}

.debug > .debug > .debug {
  background-color: rgb(95, 95, 95);
  border: 1px dashed white;
}

.debug .debug .debug .debug {
  background-color: rgb(165, 165, 165);
  border: 1px dashed white;
}
